@import '~@angular/material/theming';

.table-details {
  position: relative;
  width: 90%;
  margin: 48px 5%;
}

h2 {
  margin-top: 48px;
}

.items-table {
  position: relative;
}

.new-btn {
  position: absolute;
  top: -24px;
  right: 24px;
}

.actions-cell {
  display: flex;
  justify-content: flex-end;
}

.table-info {
  display: flex;
}

.qr-code {
  margin-left: 48px;
}

.print-btn {
  margin-bottom: 48px;
}

.paid-for-icon {
  color: map-get($mat-green, 500);
}

.not-paid-for-icon {
  color: map-get($mat-red, 500);
}
