<div class="table-details">
  <div class="table-info">
    <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8 full-width">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <app-editable-field [value]="element.name" (saved)="onTableNameChange(element, $event)"></app-editable-field>
        </td>
      </ng-container>
  
      <!-- CreatedAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
    </table>

    <div class="qr-code">
      <canvas #qrCode class="mat-elevation-z8"></canvas>
    </div>
  </div>

  <h2>Items:</h2>

  <div class="items-table">
    <table mat-table [dataSource]="itemsDataSource" class="mat-elevation-z8 full-width">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <app-editable-field [value]="element.name" (saved)="onItemNameChange(element, $event)"></app-editable-field>
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element">
          <app-editable-field [value]="element.price" (saved)="onItemPriceChange(element, $event)"></app-editable-field>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="actions-cell">
            <button mat-icon-button (click)="removeItem(element)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="itemsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: itemsDisplayedColumns;"></tr>
    </table>

    <button mat-fab color="accent" class="new-btn" (click)="openNewItemDialog()">
      <mat-icon aria-label="Add">add</mat-icon>
    </button>
  </div>
</div>
